<?xml version="1.0" encoding="utf-8"?>
<robot name="translation_system" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="name" default=""/>
  <xacro:arg name="tf_prefix" default=""/>
  
  <xacro:if value="$(arg gazebo)"> 
  	<xacro:include filename="$(find kuka_control)/models/$(arg tf_prefix)/urdf/$(arg name).gazebo.xacro"/>
  </xacro:if>

  <xacro:include filename="$(find kuka_control)/models/$(arg tf_prefix)/urdf/$(arg name).xacro"/>
  <xacro:translation_system prefix="$(arg tf_prefix)"/>

</robot>
